/* Reset e box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

/* Variáveis de cores */
:root {
    --white: #ffffff;
    --maincolor: #e7f1ff;
    --pcolor: #dbd8ff;
    --p2color: #2c3161;
    --hcolor: #2a33aa;
    --headcolor: #254c58;
    --footercolor: #1b2a30;
}

/* Navbar */
.navbar {
    margin: 0;
    padding: 0;
    background-color: var(--footercolor) !important;
}

/* Botão de login */
.btnlogin {
    background-color: var(--white) !important;
    color: var(--headcolor) !important;
    font-weight: 600;
}
.tst {
    position: relative;
    bottom: 0;
}
.btnlogin:hover {
    background-color: var(--pcolor) !important;
    color: var(--headcolor) !important;
    font-weight: 600;
}
/* Tela de Login */

/* Tela de login */

.bodylogin{
    display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background: url('/images/fundo.jpg') no-repeat;
     background-size: cover;
     background-position: center;
 }
 .login{
 display: flex;
 justify-content: center;
 align-items: center;
 width: 420px;
 background-color: rgba(58, 128, 150, 0.4);
 border:2px solid var(--white);
 backdrop-filter: blur (15px);
 box-shadow: 0 10px rgba(0, 0, 0,.2);
 color: var(--white);
 border-radius: 10px;
 padding: 30px 40px;
 backdrop-filter: blur (15px);
 
 h1{
     font-size:36px;
     text-align: center;
     color: var(--white);
 }
 .input-box{
     width:100%;
     height: 50px;
     position: relative;
     margin: 30px 0;
     input{
         width: 100%;
         height: 100%;
         background: transparent;
         border-radius: 40px;
         outline: none;
         border: 2px solid var(--white);
         font-size: 16px;
         color: var(--white);
         padding: 20px 45px 20px 20px;
 
 
     }
     input::placeholder {
         color: var(--white);
     }
     i{
         position: absolute;
         top: 50%;
         right: 20px;
         transform: translateY(-50%);
         color: var(--white);
         font-size: 20px;
     }
 }
 .btn{
     width:100%;
     height: 45px;
     background: var(--white);
     border:none;
     outline: none;
     border-radius: 40px;
     box-shadow: 0 0 10px rgba(0,0,0,.1);
     cursor: pointer;
     font-size: 16px;
     color: #333;
     font-weight: 600;
     transition: 0.5s;
 
 }
 .btn:hover{
     background: var(--headcolor);
     color: var(--white);
     transition: 0.5s;
 }
 .esqueceu-senha{
     display: flex;
     justify-content: space-between;
     font-size: 14px;
     margin: -15px 0 15px;
     label{
         input{
             accent-color: var(--white);
             margin-right: 3px;
         }
     }
     a{
         color: var(--white);
         text-decoration: underline;
        
     }
     a:hover{
         color: #c3e7ff;
         
     }
    }
 }

/* Header e links */
header {
    background-color: var(--headcolor);
}

header li a {
    color: var(--white) !important;
}

/* Ícone do menu */
.menu {
    color: rgb(254, 255, 187);
}

/* Logo */
.logohead {
    width: 120px;
    height: auto;
}

/* Corpo da página */
body {
    background-color: var(--maincolor);
}

/* Cards */
.card {
    scale: 1.0;
    transition: all 0.3s;
    filter: grayscale(70%);
}

.card:hover {
    scale: 1.08;
    transition: all 0.3s;
    filter: grayscale(0%);
}

.card:hover img {
    filter: grayscale(0%);
}

/* Destaques */
.destaques {
    padding-top: 45px;
}

/* Footer */
footer {
    padding-bottom: 10px;
    max-width: 100%;
    background-color: var(--footercolor);
    margin: 0;
    border: 0;
}

footer p {
    color: var(--white);
    margin: 0;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 580;
}

footer a:hover {
    text-decoration: underline;
}



.btn-outline-white-border {
    background-color: transparent;
    color: #fff;
    border: 0.5px solid rgb(153, 153, 153);
    padding: 0.75rem 1.5rem;
    border-radius: 50px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.btn-login,
.btn-cadastro {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: 500;
}

.hero-section {
    background-color: var(--headcolor);
    color: #fff;
    padding-top: 10rem !important;
    padding-bottom: 8rem !important;
    width: 100%;
}


/* Mantém texto branco e centralizado */
.hero-section .col-md-5 {
    color: #fff;
}

.btncmc {
    scale: 1.0;
    transition: 0.3s;
}
.btncmc:hover {
    scale: 1.1;
    transition: 0.3s;
    border: 1.5px solid #fff;
    background-color: #316c7e;
}

.hero-image img {
    max-width: 300px !important; 
}

.home-section {
    background-color: #85abb6;
}

.search-bar .btn-search {
    background-color: var(--footercolor);
    color: #fff;
    border-radius: 0 50px 50px 0;
    padding: 15px 15.5px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.sobre-page {
    background-color: #85abb6;
}
