body {
    background-color: #f1f1f1;
    color: #333;
}

:root{
    --white: #ffffff;
    --black: #000;
    --maincolor: #3e2311;
    --thircolor: #f9edb4;
    --quadcolor: #9e0e0e;
    --extra: #FF69B4;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    display: list-item;
    unicode-bidi: isolate;
    float: left;
    position: relative;
    border-right: solid 1px var(--thircolor);
}

header {
    background-color: var(--maincolor);
    padding: 20px 0;    
    display: block;
    unicode-bidi: isolate;
    /*header fixo*/
    position: sticky;
    top: 0; 
    z-index: 1000;
}

.pheader {
    margin: 0;
    color: var(--thircolor) !important;
}

.menuheader {
    color: var(--thircolor) !important;
    border: var(--thircolor) !important;

}


/* Cor padrão (fechado) */
.navbar-toggler-icon {
    border: 1px solid var(--thircolor);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23f9edb4' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* Cor quando o menu está aberto (opcional - vira X) */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23f9edb4' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M6 6l18 18M6 24L24 6'/%3e%3c/svg%3e") !important;
        border: 1px solid var(--thircolor);
} 

.container {
    width: 100% !important;
    margin-right: auto;
    margin-left: auto;
}

.nav-container {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;

    width: 100% !important;
}

.imglogo {
    width: 80px;
}

.imglogin {
    width: 358px !important;
}

.tstlogin {
    padding: 0;
    border: 0;
}

.capa {
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
    img {
    width: 100%;
}}

.login {
    width: 380px;
    padding: 100px 10px;
    margin: auto;
}

.alert {
    margin: 0;
    padding: 0 10px;
}

.card {
    box-shadow: 0 0 10px var(--maincolor);
    border-radius: 0;
    margin: 30px 0;
    .card-header {
        border-bottom: 1px solid var(--maincolor);
        img {width: 80px;}
        background-color: var(--maincolor);
    }
}

.borderad {
    border-radius: 10px;
}



.form-control[readonly] {
    background: #f1f1f1;
}

.parsley-errors-list {
    color: #F00;
    list-style: none;
    margin-left: -30px;
}

#erro {
    margin-top: -15px;
}

.navbar {
    padding: 0 !important;
    background-color: var(--maincolor);
}

.footer {
    padding: 30px 0;
    background-color: var(--maincolor);
    text-align: center;
    color: var(--thircolor) !important;
    a {
        color: var(--thircolor) !important;
        text-decoration: none !important;
    }
}

.footer {



    a {


        margin: 20px;
        &:hover {
            color: #F00;
        }
    }
}


/*botão primário (marrom)*/

.btnprm {
    background-color: var(--white) !important;
    color: var(--quadcolor);
    border: 1px solid var(--quadcolor) !important;
    transition: all 0.3s;
}

.btnprm:hover {
    box-shadow: 1px solid black;
    transition: 0.3s;
    color: var(--thircolor) !important;
    background-color: rgb(104, 11, 11) !important;
}

/*botão secundário (branco)*/

.btnscd {
    background-color: var(--maincolor) !important;
    color: var(--thircolor);
    border: 0 solid var(--black) !important;
    transition: 0.3s;
}

.btnscd:hover {
    box-shadow: 1px solid black;
    transition: 0.3s;
    color: var(--thircolor) !important;
    background-color: rgb(104, 11, 11) !important;
}

/*botão terciário (pra fundo escuro)*/

.btntrc {
    background-color: transparent !important;
    color: var(--thircolor);
    border: 1px solid var(--thircolor) !important;
    transition: 0.3s;
}

.btntrc:hover {
    box-shadow: 1px solid var(--thircolor);
    transition: 0.3s;
    color: var(--maincolor) !important;
    background-color: var(--thircolor) !important;
}